@mixin flex { //To support lt IE11 for flexbox polyfill
  -js-display: flex;
  display: flex;
}

html {
  width: 100%;
  overflow: hidden;
  height: 100%;
  font-size: 10px;
}

body {
  height: 100%;
  overflow: hidden;
  font-size: 2.1rem;
}

#wrapper {
  width: 100%;
  overflow-y: auto;
  height: 100%;
}

html,
body,
#wrapper {
  margin: 0;
  padding: 0;
}

.subpage {
  width: 100%;
  //border: 1px solid black;
  box-sizing: border-box;
  height: 100%;

  @include flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    text-transform: uppercase;
    $fsize: 6.3rem;

    align-self: flex-center;
    text-align: center;
    width: 100%;
    font-size: $fsize;

    &::first-letter {
      font-size: 1.424*$fsize;
      line-height: $fsize;
    }
  }

  .subheading {
    font-size: 6.3rem;
    text-align: center;
  }
}

